

.heading
{
  font-size: 25px;
  width: 100%;
  margin: 0px;
}
.note
{
  font-size: 15px;
  color: rgb(238, 13, 13);
}
body
{
    
  background-size: cover;	
}
  #song
  {
  	font-size: 20px;
  	margin: 14px;
  }
    canvas 
  {
    border:5px solid white;
    border-radius:15px;
    box-shadow: 3px 5px 6px #6e7879;
  }